<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new book</title>
    <style>
.img
{
    height: 200px;
    width: 100px;
}
    </style>
</head>
<body>
<form method="post">
<label for="img">Select image:</label>
  <input type="file" class="img" name="img" accept="image/*">
  <input type="submit">
<input type="text" placeholder="bookname">
<input type="text" placeholder="no of pages in book">
<button type="submit">submit</button>
</form>
</body>
</html>