<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>authors</title>
</head>
<body>
   <h2>search authors</h2>
   <form action="/authors" method="get">
   <input type="text" name="name" value="<%= searchOptions.name %>">
   <button type="submit">search</button>
   </form>
   <br> 
   <% authors.forEach(author=>{%>
   <div><%=  author.name %></div>
   <% }) %>
</body>
</html>